*.js
*.js.map
*.log
*.d.ts
!index.d.ts
lib
platforms/ios
demo/app/*.js
demo/*.d.ts
demo/platforms
demo/node_modules
node_modules

.DS_Store
*.js.map
*.tar
*.tgz
*.gz
*.zip
*.js
*.log
nativescript-lottie.*.d.ts
!src/scripts/*.js
!src/typings/**