.message {
  color: #000;
  font-size: 20;
  horizontal-align: center;
  padding:20;
}


.greenBtn {
  background-color: #4CAF50;
  color: #fff;
}

.redBtn {
  background-color: #f44336;
  color: #fff;
}