.vs
.vs/
.vscode/
*.sln
demo/
demo
screens/
*.gif
screens
*.gitattributes

*.map
*.ts
!*.d.ts
tsconfig.json
scripts/*
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar